<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <mvvmcross.droid.support.v7.appcompat.widget.MvxAppCompatRadioGroup
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    local:MvxItemTemplate="@layout/choice_entry"
    local:MvxBind="ItemsSource ChoiceList; SelectedItem SelectedChoice" />
  <LinearLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="horizontal">
    <Button
      android:layout_width="0dp"
      android:layout_height="wrap_content"
      android:layout_weight="1"
      android:text="Cancel"
      local:MvxBind="Click CancelCommand" />
    <Button
      android:layout_width="0dp"
      android:layout_height="wrap_content"
      android:layout_weight="1"
      android:text="Save"
      local:MvxBind="Click SaveCommand" />
  </LinearLayout>
</LinearLayout>
